/* Reset básico e ajustes para dispositivos móveis */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #c8c8c8 url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Viewport Meta Tag para dispositivos móveis */
@media (max-width: 600px) {
    body {
        background-size: cover;
        font-size: 14px; /* Ajuste a fonte para dispositivos móveis */
    }

    .login-wrap {
        width: 90%;
        max-width: none;
        margin: 20px auto;
        box-shadow: none;
    }

    .login-html {
        padding: 20px;
    }

    .login-form .group .input,
    .login-form .group .button {
        padding: 10px;
    }

    .login-form .group img.show-password {
        margin-right: 10px;
        margin-top: -20px; /* Ajuste a margem para melhor alinhamento */
    }

    .login-form .group .button {
        padding: 10px;
        font-size: 16px; /* Aumenta o tamanho da fonte do botão */
    }
}

/* Adicionar suporte para diferentes tamanhos de tela */
@media (min-width: 601px) {
    .login-wrap {
        width: 100%;
        max-width: 450px;
        margin: 30px auto;
    }
}