
.map-page .map-container{
    width:1200px;
    height:1200px;
    background:url(../assets/images/design/samap_1280.jpg);
    background-size:100%;
    cursor:-webkit-grab;
    cursor:grab
}

.glyphicon-map-marker:before{
    content:"\e062"
}

.map-setting:after{
    clear:both
}

.map-icon{
    position:absolute;
    width:16px;
    height:16px
}

.map-setting{
    color:#a4a4a4;
    font-size:15px
}
.map-setting:after,.map-setting:before{
    content:" ";
    display:table
}
.map-setting .list{
    width:100px;
    text-align:right;
    position:relative;
    float:right
}
.map-setting span{
    display:inline-block;
    margin-bottom:15px;
    cursor:pointer
}
.map-setting span i{
    margin-left:7px
}
.map-setting ul{
    display:none;
    list-style:none;
    position:absolute;
    width:250px;
    text-align:left;
    top:35px;
    right:0;
    background:#272727;
    padding:15px;
    z-index:100
}
.map-setting .list:hover ul{
    display:block
}
.map-setting li{
    padding:7px 10px;
    cursor:default
}
.map-setting li input{
    float:right;
    cursor:pointer
}