.notify-div {
    margin: 10px;
    border-radius: 15px 5px 5px 15px;
    transition: width 5s;
    background: #343a40;
    padding: 10px;
    color: #fff;
}

.notify-title {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.notify-icon {
    margin-right: 10px;
}

.notify-title-text {
    font-size: 15px;
    font-weight: 700;
}

.notify-main-text {
    padding-left: 15px;
    width: 90%;
}
